  <p class="header titleSpacer" align="center" style="word-break: break-word; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; color: #2b2b2b; font-size: 27px; font-weight: 300; padding: 24px 0 16px;">
    <%= t('mailer.activation.congratz') %>, <%= @user.name %>     
  </p>

  <p class="content spacer" align="center" style="word-break: break-word; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-smooth: always; -webkit-font-smoothing: antialiased; color: #666; font-size: 15px; font-weight: 300; line-height: 20px; padding-bottom: 14px;">
    <%= t('mailer.subject.done') %>,
    <%= t('mailer.activation.your_username') %>: <%= @user.name %>. <br>
    <%= t('mailer.activation.you_can') %><%= link_to "#{t('mailer.activation.access')}", @url, { style: "color: #08c; text-decoration: none;" }  %>, <%= t('mailer.activation.enjoy') %>!<br>
  </p>